* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #277b27;
  padding-top: 50px;
}

.container { 
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: 100%;
  padding: 0 25px;
}

.card {
  background-color: white;
  border-radius: 5px;
  padding: 20px 30px;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  background-color: blueviolet;
  border: none;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.title {
  margin-bottom: 20px;
}

.apiList {
  list-style: none;
}

.apiList hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

form label {
  font-weight: bold;
}

form input {
  height: 30px;
  width: 100%;
  margin-bottom: 10px;
}

.error {
  background-color: red;
  padding: 10px 20px;
  margin-top: 10px;
}

.sortDiv {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media(min-width: 768px) {
  .col {
    width: 50%;
    max-width: 500px;
  }
}